* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    background-color: #ffffff;
}

.container {
    max-width: 1586px;
    width: 100%;
    margin: 0 auto;
}

.header__content {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 450px;
    padding: 40px 0 32px 0;
}

.header__content h1 {
    margin-top: 40px;
    line-height: 36px;
    letter-spacing: -0.04em;
}

/*-------------------------- Sign-up section -----------------------*/

.sign-up__container {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.button {
    background-color: #405A93;
    color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 24px;
}

.button:hover {
    transform: scale(1.04);
    background-color: #384F81;
}

.button:active {
    background-color: #31446F;
    outline: solid black;
    outline-offset: 3px;
    transition: outline 140ms ease-in-out;
}

.button:focus {
    outline: solid black;
    outline-offset: 3px;
    transition: outline 140ms ease-out;
}

.button img {
    padding-right: 16px;
}

.button--outlined {
    background-color: transparent;
    color: #535353;
    border: 2px solid #535353;
} 

.button--outlined:hover {
    transform: scale(1.04);
    background-color: transparent;
}

.button--outlined:active {
    transform: none;
}

.divider {
    display: block;
    position: relative;
    text-align: center;
    color: rgb(127, 127, 127);
    margin-bottom: 16px;
}

.divider::after, 
.divider::before {
    border-top: 1px solid rgb(204, 204, 204);
    content: '';
    max-width: 160px;
    width: 45%;
    display: inline-flex;
    position: absolute;
    top: 50%;
}

.divider::before {
    left: 45px;
}

.divider::after {
    right: 45px;
}

/*----------------- form section ---------------*/

.form__container{
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.form__container h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    padding-bottom: 18px;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 24px;
    font-size: 13px;
}

.form__field label {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    padding-bottom: 5px;
}

.form__field input {
    font-size: 16px;
}

.form__field input, 
.form__field select {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 14px;
    outline: none;
}

.form__field input:focus, 
.form__field select:focus {
    outline: 2px solid black;
}

.form__field input:hover, 
.form__field select:hover {
    border: 1px solid black;
    /* box-shadow: inset 0 0 0 0.5px var(--essential-base,#000000); */ 
}

.form__field input:invalid:focus, 
.form__field select:invalid:focus {
    outline: 2px solid red;
}

.form__field input:invalid, 
.form__field select:invalid {
    border: 1px solid red;
}

.form__field .caption {
    margin-top: 8px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: none;
    letter-spacing: normal;
}

.birthday__container {
    display: flex;
    justify-content: space-between;
}

.form__field:has(> #day) {
    width: 90px;
}

.form__field:has(> #month) {
    width: 200px;
}

.form__field:has(> #year) {
    width: 112px;
}



.form__field .form__field {
    padding: 0;

}

.form__field .form__field label {
    font-weight: normal;
}

.gender__container {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    flex-wrap: wrap;
}

.gender__container .form__field {
    padding: 4px 2px;
}

.gender__label {
    padding: 0 24px 0 12px;
}

input[type="radio"] {
    appearance: none;
    padding: 8px;
    margin-right: 10px;
    font: inherit;
    /* color: #169b45; */
    width: 5px;
    height: 5px;
    /* border: 0.15em black; */
    border-radius: 50%;
    transform: translateY(4px);
}

input[type="radio"]::before {
    content: "";
    background-color: var(--background-base,#ffffff);
    border-radius: 50%;
    height: 0.5em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.5em;
}

input[type="radio"]::after {
    content: "";
    display: block;
    /* position: absolute; */
    pointer-events: none;
    transition: border-color 200ms ease-in 0s;
    box-sizing: border-box;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    /* top: -6px;
    left: -6px; */
    background: transparent;
    border-radius: 50%;
    border: 3px solid transparent;
}

input[type="radio"]:hover {
    border-color: #169b45;
}

input[type="radio"]:checked {
    outline: max(2px, 0.15em) solid black;
    outline-offset: max(2px, 0.15em);
    background-color: #169b45;
    transition: outline 50ms ease-in-out;
}

input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid black;
    outline-offset: max(2px, 0.15em);
}

.checkbox__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    font-size: 0.875rem;
}

.form__checkbox input {
    display: none;
}

.form__checkbox .checkbox {
    min-width: 14px;
    min-height: 14px;
    border: 1px solid #878787;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form__checkbox .checkbox__tick {
    display: none;
    width: 10px;
    height: 10px;
    background-color: white; 
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:focus {
    outline: 2px solid black;
    outline-offset: 2px;   
}

input[type="checkbox"]:checked ~ .checkbox {
    background-color: #169b45;    
}

input[type="checkbox"]:checked ~ .checkbox .checkbox__tick {
    display: block; 
}

.recaptcha {
    padding-bottom: 24px;
}

/*------------------------------- Submit button -------------------------------*/


.submit__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.submit__container p {
    font-size: 12px;
    padding-bottom: 12px;
}

.submit__container a {
    color: rgb(29, 185, 84);
}

.submit__container a:hover {
    color: rgb(30, 215, 96)
}

.submit__button {
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    letter-spacing: normal;
    color: black;
    background-color: #1ed760;
    cursor: pointer;
    border: 0;
    width: 155px;
    padding: 16px 48px;
    margin-bottom: 24px;
}

.submit__button:hover {
    transform: scale(1.04);
    background-color: #1fdf64;
}

.submit__button:focus {
    outline: solid black;
    outline-offset: 3px;
    transition: outline 140ms ease-out;
}

.submit__button:active {
    background-color: #169b45;
    outline: solid black;
    outline-offset: 3px;
    transition: outline 140ms ease-in-out;
}

.log-in {
    font-size: 16px;
    padding-bottom: 130px;
}

.warning {
    color: var(--text-negative,#d31225);
    font-size: 14px;

}